.mat-toolbar.mat-primary {
  background: #fafafa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font-family: "Poppins", sans-serif;
}
.mat-mdc-list-item .mdc-list-item__primary-text {
  font-family: "Poppins", sans-serif;
}
.mat-typography {
  font-family: "Poppins", sans-serif;
}
::ng-deep {
  .mat-form-field-infix {
    border: 0px !important;
  }
  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: none !important;
  }
  
}
.mat-mdc-icon-button.mat-mdc-button-base {
  width: 40px !important;
  height: 40px !important;
  padding: 0 5px 12px 0 !important;
}