<router-outlet></router-outlet>



<!-- I have an object, which has following properties,
1. no of sets
2. array of exercise groups

the array of exercise groups has an exercises array
the exercise array consist of multiple exercise
each exercise has an array of sets (sets are according to no of sets)
each set has time or no of reps.

I want to create a function that will
1- display each exercise from each group one by one according to no of set
2- add next exericse button to move to next exercise -->