<div class="container-fluid register vh-100">
  <div class="register-form ">
    <form class="row" [formGroup]="user">
      <div class="col-sm-12 d-flex flex-column align-items-center">
        <img src="assets/images/lifting_ledger.png" alt="" width="100%">
        <h2 class="mt-2">Register</h2>
      </div>
      <div class="col-sm-12 mt-3">
        <mat-label>Username</mat-label>
        <mat-form-field class="w-100 fs-6" appearance="outline">
          <input matInput placeholder="Enter your name" formControlName="name" />
          <mat-error> Username is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-label>Email</mat-label>
        <mat-form-field class="w-100 fs-6" appearance="outline">
          <input matInput placeholder="Enter your email" formControlName="email" />
          <mat-error> Email is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-label>Mobile</mat-label>
        <mat-form-field class="w-100 fs-6" appearance="outline">
          <input matInput placeholder="Enter your Phone" formControlName="mobile" />
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-label>Password</mat-label>
        <mat-form-field class="w-100 fs-6" appearance="outline">
          <input matInput placeholder="Enter password" formControlName="password" />
          <mat-error *ngIf="user.controls['password'].hasError('required')"> Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="user.controls['password'].hasError('minlength')"> Password should be at least 6 characters
          </mat-error>
        </mat-form-field>
      </div>

    </form>
    <div class="col-sm-12">
      <button mat-raised-button class="w-100" color="warn" (click)="register()"
        [disabled]="user.invalid">Register</button>
    </div>
  </div>
</div>